:root {
  font-family: "AeonikPro", Inter, system-ui, Avenir, Helvetica, Arial,
    sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: rgba(255, 255, 255, 0.87);
  background-color: black;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
}

@font-face {
  font-family: "AeonikPro";
  src: url(./assets/fonts/AeonikPro-Regular.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "AeonikPro";
  src: url(./assets/fonts/AeonikPro-Bold.woff2) format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "AeonikPro";
  src: url(./assets/fonts/AeonikPro-Light.woff2) format("woff2");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "AeonikPro";
  src: url(./assets/fonts/AeonikPro-RegularItalic.woff2) format("woff2");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "AeonikPro";
  src: url(./assets/fonts/AeonikPro-BoldItalic.woff2) format("woff2");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "AeonikPro";
  src: url(./assets/fonts/AeonikPro-LightItalic.woff2) format("woff2");
  font-weight: 100;
  font-style: italic;
}
